page-login {
    .scroll-content {
        overflow-y: hidden;
    }
    .list {
        padding: 10%;
        margin-top: 15%;
    }
    .label-lotto {
        font-size: 50px;
        color: white;
    }
    .item-user {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        margin-bottom: 10px;
        margin-top: 40px
    }
    .item-pass {
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        margin-bottom: 50px;
    }
    .btn-login {
        border-radius: 50px;
        background-color: green
    }
    .btn-register {
        border-radius: 50px;
        background-color: blue
    }
}